/* color palette from <https://github.com/vuejs/theme> */


:root {
  --primary-color: #0D0C1D;
  --secondary-color: #F1DAC4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #0D0C1D;
  color: white;

}

a {
  text-decoration: none;
  color: #0D0C1D;
  display: block;
  text-align: center;
}
